<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <div *ngIf="user$ | async as user" class="ion-padding-top ion-text-center">
    <img [src]="user.picture" alt="avatar">
    <h2>{{user.name}}</h2>

    <ion-list inset>
      <ion-item>email: {{user.email}}</ion-item>
      <ion-item>Provider: {{user.provider}}</ion-item>
    </ion-list>

    <ion-button (click)="logout()">Logout</ion-button>

  </div>
</ion-content>
