
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="speakerDetail$ | async as speaker">{{speaker?.getDisplayName()}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding speaker-detail">
  <div *ngIf="speakerDetail$ | async as speaker" class="ion-text-center">
    <img [src]="speaker.imageURL"
         [alt]="speaker.getDisplayName()"
         class="speaker-detail-round speaker-round"
         onerror="this.onerror=null;this.src='https://s3-eu-west-1.amazonaws.com/cfpdevoxx/images/anonymous.jpg';">
    <br>

    <ion-button fill="clear" size="small" color="twitter" [disabled]="!speaker.twitter" (click)="goToSpeakerTwitter(speaker)">
      <ion-icon name="logo-twitter" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button fill="clear" size="small" color="github">
      <ion-icon name="logo-github" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button fill="clear" size="small" color="instagram">
      <ion-icon name="logo-instagram" slot="icon-only"></ion-icon>
    </ion-button>
    <p [innerHTML]="speaker.bio"></p>
  </div>
</ion-content>