.speaker-detail img {
  max-width: 140px;
  border-radius: 50%;
}

.speaker-detail p {
  color: #60646b;
}

.speaker-detail-round {
  max-width: 200px;
  max-height: 200px;
  border-radius: 200px;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}


.speaker-round {
  max-width: 80px;
  margin-right: 6px;
  margin-bottom: 2px;
  border-radius: 100px;
  overflow: hidden;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
