.scroll {
  background: #ededed;
}

.speaker-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.speaker-card ion-card-header {
  padding: 0;
}

.speaker-card ion-card-header .item {
  padding: 4px 16px;
}

.speaker-card ion-card-content {
  flex: 1 1 auto;

  padding: 0;
}

.speaker-detail-round {
  max-width: 200px;
  max-height: 200px;
  border-radius: 200px;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}


.speaker-round {
  max-width: 80px;
  float: left;
  margin-right: 6px;
  margin-bottom: 2px;
  border-radius: 100px;
  overflow: hidden;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
