<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Speakers</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="searchQuery" (ionChange)="changeVisibleSpeakers($event.detail.value)" placeholder="Search">
        </ion-searchbar>
      </ion-toolbar>
  </ion-header>
  
  <ion-content class="outer-content">
    <ion-list>
      <ion-virtual-scroll [items]="filteredSpeakers$ | async" [headerFn]="headerFnExtractFirstLetter" approxItemHeight="50px">      
        <ion-item-divider *virtualHeader="let header" color="primary" sticky>
          <ion-label>
            {{ header }}
          </ion-label>
        </ion-item-divider>
        <speaker-item *virtualItem="let speaker" [speaker]="speaker">
        </speaker-item>
      </ion-virtual-scroll>
    </ion-list>
  </ion-content>
  