ion-grid.talkList {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

ion-card.talkCard {
    position: relative;

    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

    ion-card-header {
        padding: 2px;
        display: inline;
    }

    ion-card-subtitle {
        margin-left: 4%;
        margin-right: 4px;
        z-index: 2;
        font-size: 10px;
        
    }
    ion-card-title {
        position: relative;
        font-size: 14px;
        margin-left: 4%;
        margin-right: 4px;
        margin-top: 0px;
    }

    ion-card-content {
        font-size: 14px;
        margin-left: 4px;
        margin-right: 4px;
        padding: 2px;
    }

    ion-chip {
        height: 16px;
        font-size: 10px; 
        margin: 2px;
    }
}