<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Talks</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentFilter()">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchQuery" (ionChange)="changeVisibleTalks($event.detail.value)" placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
  <!--ion-toolbar center>
    <ion-chip (click)="toggleChip(item.key)" *ngFor="let item of getChips() | keyvalue" tappable [color]="item.value.active? 'primary' : 'danger'" outline="{{!item.value.active}}">
      <ion-label>{{item.value.label}}</ion-label>
    </ion-chip>
  </ion-toolbar-->
</ion-header>

<ion-content padding>
  <ion-grid class="talkList">
    <ion-row>
      <ion-col *ngFor="let talk of filteredTalks$ | async | slice: 0 : visibleTalks">
        <ion-card class="talkCard">
          <ion-card-header routerLink="talk-detail/{{talk.id}}" routerDirection="forward" tappable>
            <ion-thumbnail style="float:right">
              <img *ngIf="tracksIconById[talk.trackId]" [src]="tracksIconById[talk.trackId]">
            </ion-thumbnail>
            <ion-card-subtitle>{{talk.track}}</ion-card-subtitle>
            <ion-card-title>{{talk.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item *ngFor="let speaker of talk.speakers" routerLink="speaker-details/{{speaker.id}}" routerDirection="forward">
              <ion-avatar slot="start" *ngIf="speaker.imageURL">
                <ion-img [src]="speaker.imageURL"></ion-img>
              </ion-avatar>
              <ion-label>{{speaker.getDisplayName()}}</ion-label>
            </ion-item>
            <ion-chip *ngFor="let tag of talk.tags">
              <ion-label>{{tag}}</ion-label>
            </ion-chip>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll #infinitescroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
