<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Conference Selector</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment [(ngModel)]="segment" (ionChange)="changeVisibleEvents($event.detail.value)">
        <ion-segment-button value="all" checked>
            All ({{eventsCounter}})
        </ion-segment-button>
        <ion-segment-button value="devoxx">
          Devoxx ({{devoxxEventsCounter}})
        </ion-segment-button>
        <ion-segment-button value="voxxed">
          VoxxedDays ({{voxxedEventsCounter}})
        </ion-segment-button>
      </ion-segment>

      <ion-list>
        <!--list of events-->
        <div  *ngFor="let event of filteredEvents$ | async; let i = index">
        <ion-card no-margin margin-bottom class="eventsCard">
          <img [src]="event.imageURL"/>
          <ion-card-title color="light">{{ event.name }}</ion-card-title>
          <ion-card-subtitle>
              <ion-badge color="warning">
                      {{ event.eventCategory }} 
                </ion-badge>
          </ion-card-subtitle>
          <ion-badge slot="start" color="dark" class="dates">
              <ion-icon name="calendar"></ion-icon> {{ event.fromDate | date : 'd MMM'}} - {{ event.toDate | date : 'd MMM yyyy'}}
          </ion-badge>
            
          <div class="shadow"></div>
          <ion-card-content>
              <ion-button size="small" color="secondary" [href]="event.website" target="_blank">
                  <ion-icon name="book" color="primary"></ion-icon><ion-label>Website</ion-label>
              </ion-button>
             
          </ion-card-content>
          <ion-fab vertical="center" horizontal="end" *ngIf="eventExist(event)|async">
            <ion-fab-button tappable (click)="selectEvent(event)">
              <ion-icon name="arrow-dropright"></ion-icon>
            </ion-fab-button>
          </ion-fab>
          

        </ion-card>
      </div>
    </ion-list>

</ion-content>
