ion-card.eventsCard {
position: relative;
ion-img {
    margin-bottom: -3px;
}
ion-card-subtitle {
    position: absolute;
    top: 10px;
    left: 4%;
    z-index: 2;
}
ion-card-title {
    font-size: 20px;
    position: absolute;
    top: 35px;
    left: 4%;
    z-index: 2;
    text-shadow: 1px 1px 4px rgba(0,0,0,.4);
}

.dates {
    left: 4%;
    position: absolute;
    top: 60px;
}

ion-card-content {
    width: 100%;
    position: absolute;
    z-index: 3;
    bottom: 0;
}
.shadow {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    box-shadow: inset 0 0 15rem rgba(var(--ion-color-dark-rgb), .95)
}
.price {
    //right: 2%;
    bottom: 20%;
    position: absolute;
}

}