<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="eventDetails$ | async as event">
  <div class="about-header">
    <img src="{{event.eventImageURL}}" alt="{{event.name}}">
  </div>
  <div class="about-info">
    <h4 class="ion-padding-start">{{event.name}}</h4>

    <ion-list lines="none">
      <ion-item>
        <ion-icon name="calendar" slot="start"></ion-icon>
        <ion-label position="stacked">From</ion-label>
        <ion-text>{{event.fromDate | date: 'dd MMM y - HH:mm' }} {{event.timezone}}</ion-text>
      </ion-item>

      <ion-item>
        <ion-icon name="calendar" slot="start"></ion-icon>
        <ion-label position="stacked">To</ion-label>
        <ion-text>{{event.toDate | date: 'dd MMM y - HH:mm'}} {{event.timezone}}</ion-text>
      </ion-item>

      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label position="stacked">Location</ion-label>
        <ion-text>{{event.locationName}}</ion-text>
      </ion-item>
    </ion-list>

    <p class="ion-padding-start ion-padding-end">
      {{event.description}}
    </p>
  </div>
</ion-content>
