.about-header {
  background-color: var(--ion-color-dark);
  width: 100%;
  height: 40%;
  text-align: center;
}

.about-header img {
  max-height: 100%;
}

.about-info p {
  color: var(--ion-color-dark);
  text-align: left;
}

.about-info ion-icon {
  margin-inline-end: 32px;
}

.ios .about-info {
  text-align: center;
}
