<ion-item>
  <ion-avatar slot="start" routerLink="speaker-details/{{speaker.id}}">
    <ion-img
        class="speaker-detail-round speaker-round"
        [src]="speaker.imageURL"
        alt="Speaker profile pic"
        onerror="this.onerror=null;this.src='https://s3-eu-west-1.amazonaws.com/cfpdevoxx/images/anonymous.jpg';">
        </ion-img>     
  </ion-avatar>
  <ion-label routerLink="speaker-details/{{speaker.id}}">
    <h3>{{speaker.firstName}} {{speaker.lastName}}</h3>
    <p>{{speaker.company}}</p>
  </ion-label>
  <ion-button fill="clear" size="small" color="primary" (click)="goToSpeakerTwitter(speaker)" *ngIf="speaker.twitter">
      <ion-icon name="logo-twitter" slot="end"></ion-icon>
      Twitter
    </ion-button>
</ion-item>
