<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-logo">
    <img src="assets/img/devoxx-logo.png" alt="Devoxx logo">
  </div>

  <ion-button expand="block" color="google" (click)="doGoogleLogin()">Login with Google</ion-button>

  <ion-button expand="block" color="twitter" (click)="doTwitterLogin()">Login with Twitter</ion-button>

  <ion-button expand="block" color="github" (click)="doGithubLogin()">Login with Github</ion-button>

</ion-content>
