<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button (click)="dismiss()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Please vote</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="saveVote()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-range #vote (ionChange)="selectVoteComments($event.detail.value)" min="1" max="5" step="1" snaps="true" ticks="true" [value]="rating" color="secondary">
      <ion-text color="medium" slot="start">1</ion-text>
      <ion-text color="medium" slot="end">5</ion-text>
  </ion-range>

  <ion-list>
    <ion-item *ngFor="let comm of comments" (click)="setComment(comm.text)"  [color]="(comment == comm.text) ? 'primary' : ''">
        <ion-thumbnail slot="start" *ngIf="comm.url">
            <img [src]="comm.url">
        </ion-thumbnail>
        <ion-label>
            {{comm.text}}
        </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
