<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="canGoBack"></ion-back-button>
      <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
    </ion-buttons>
    <ion-title>Session {{session?.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="session$ | async as talk" class="ion-padding">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6">
          <ion-avatar class="track-icon">
            <ion-img *ngIf="track" [src]="track.iconUrl"></ion-img>
          </ion-avatar>
          <span [class]="'session-track-name session-track-'+talk.track.toLowerCase()">{{talk.track}}</span>
        </ion-col>
        <ion-col size="6" [ngClass]="{'show-favorite': isFavorite}" class="ion-text-right">
          <ion-icon name="heart-empty" size="large" class="icon-heart-empty" (click)="toggleFavorite()"></ion-icon>
          <ion-icon name="heart" color="danger" size="large" class="icon-heart" (click)="toggleFavorite()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <h1>{{session.title}}</h1>
    <span *ngFor="let speaker of talk?.speakers; let i = index">
      <speaker-avatar [speakerId]="speaker.id" [smallIcon]="false"></speaker-avatar>
    </span>
    <p>{{session.summary}}</p>

    <ion-item>
        {{session.type}}: 
        <ion-chip *ngFor="let tag of talk.tags">
            <ion-label>{{tag}}</ion-label>
          </ion-chip>
    </ion-item>

    <ion-item *ngFor="let timeSlot of talk.timeSlots">
      <ion-icon  slot="start" name="time"></ion-icon>
      <ion-text color="medium">
        {{timeSlot.timeStart}} &ndash; {{timeSlot.timeEnd}}
        <br /> {{timeSlot.roomName}} &ndash; {{timeSlot.timeZone}}
      </ion-text>
    </ion-item>
    <ion-item *ngIf="!talk.timeSlots || talk.timeSlots.length == 0">
      <ion-icon  slot="start" name="time"></ion-icon>  
      <ion-text>Talk not yet scheduled</ion-text>
    </ion-item>
  </div>

  <ion-list>
    <ion-item button *ngIf="isLoggedIn()" (click)="openModal($event)">
      <ion-label color="primary">Vote</ion-label>
      <ion-badge >{{userRating$ | async}}</ion-badge>
    </ion-item>

   <ion-item *ngIf="!isLoggedIn()">
      <ion-button [routerLink]="['/login']" routerDirection="forward">Login to Vote</ion-button>
    </ion-item>

  </ion-list>
</ion-content>
