<div class="media" *ngIf="!smallIcon && speaker && speaker.company">
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{speaker.avatarURL}}"
             alt="{{speaker.firstName}} {{speaker.lastName}}"
             onerror="this.onerror=null;this.src='https://s3-eu-west-1.amazonaws.com/cfpdevoxx/images/anonymous.jpg';">
      </ion-avatar>
      <ion-label>
        {{speaker.firstName}} {{speaker.lastName}}
        <a *ngIf="speaker.twitter" href="https://twitter.com/{{speaker.twitter}}" target="_blank">
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
      </ion-label>
      <ion-text>
        <ion-icon name="business"></ion-icon> {{speaker.company}}
      </ion-text>
    </ion-item>
</div>
<span *ngIf="!smallIcon && speaker && !speaker.company">
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{speaker.avatarURL}}"
             alt="{{speaker.firstName}} {{speaker.lastName}}"
             onerror="this.onerror=null;this.src='https://s3-eu-west-1.amazonaws.com/cfpdevoxx/images/anonymous.jpg';">
      </ion-avatar>
      <ion-label>
        <ion-text color="primary">
            {{speaker.firstName}} {{speaker.lastName}}
        </ion-text>
        <a *ngIf="speaker.twitter" href="https://twitter.com/{{speaker.twitter}}" target="_blank">
            <ion-icon name="logo-twitter"></ion-icon>
        </a>
      </ion-label>
    </ion-item>
</span>
<div class="media" *ngIf="smallIcon && !dropDownView">
  <ion-item>
    <ion-avatar>
      <img src="{{speaker.avatarURL}}"
           alt="{{speaker.firstName}} {{speaker.lastName}}"
           onerror="this.onerror=null;this.onerror=null;this.src='https://s3-eu-west-1.amazonaws.com/cfpdevoxx/images/anonymous.jpg';">
    </ion-avatar>
  </ion-item>
</div>
