.speakerRound {
  max-width: 80px;
  float: left;
  margin-right: 6px;
  margin-bottom: 2px;
  border-radius: 100px;
  overflow: hidden;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.speakerRoundTableCell {
  max-width: 50px;
  border-radius: 100px;
  overflow: hidden;
  max-height: 50px;
}
